<div class="product-image">
    <img [src]="product.image">
</div>
<div class="product-description">
  
  <span>{{product.title}}</span> - <span>{{product.price | currency}}</span>
        
        <br>
  <button class="btn btn-primary" 
          (click)="select()">
      {{'details' | translate}}
  </button>
  
  <button class="btn btn-warning" 
          *ngIf="inCard && user.loggedIn && user.shoppingCardAvailable" 
          (click)="removeFromCard()">
          <i class="fa fa-shopping-cart"></i> {{'remove' | translate}}
  </button>
  
  <button class="btn btn-success" 
          *ngIf="!inCard  && user.loggedIn && user.shoppingCardAvailable" 
          (click)="addToCard()">
          <i class="fa fa-shopping-cart"></i> {{'add' | translate}}
  </button>

</div>