<section class="products-list">
  <div class="product-container shadow-box" *ngFor="let p of products">
      <div class="product-image">
          <img [src]="p.image">
      </div>
      <div class="product-description">
        <div class="product-description-text">
            <span>{{p.description}}</span>                            
        </div>
        <a href="#" (click)="onProductSelected(p)">Details</a>
        <a href="#" (click)="addToCard(p)">Add</a>
        <a href="#" (click)="removeFromCard(p)">Remove</a>
      </div>
  </div>
</section>