<div  *ngIf="loggedIn">
  <span>{{'welcome' | translate}} {{username}} !</span>
  <button (click)="logout()">{{'logout' | translate}}</button>
</div>
<form *ngIf="!loggedIn" (ngSubmit)="login()" #loginForm="ngForm">
    {{'username' | translate}}: <input name="username" type="text" [(ngModel)]="usernameInput" required /><br/>
    {{'password'  | translate}}: <input name="pwd" type="password" [(ngModel)]="pwdInput" required /><br/>
    <button [disabled]="!loginForm.form.valid">{{'login' | translate}}</button>
</form>
