<div class="fill" [dir]="locale.direction">
  <div  *ngIf="loggedIn">
    <h1>{{'welcome' | translate}} {{username}} !</h1>
    <button (click)="logout()">{{'logout' | translate}}</button>
  </div>
  <div  *ngIf="!loggedIn">
    <h1>{{'login' | translate}}</h1>
    <form *ngIf="!loggedIn" (ngSubmit)="login()" #loginForm="ngForm">    
        <span>{{'username' | translate}}</span>
        <br/>
        <input name="username" type="text" [(ngModel)]="usernameInput" required /><br/>
        <span>{{'password'  | translate}}</span>
        <br/>
        <input name="pwd" type="password" [(ngModel)]="pwdInput" required /><br/>
        <button [disabled]="!loginForm.form.valid">{{'login' | translate}}</button>
    </form>  
  </div>  
</div>