<div class='section-title'>
  <span>{{'products' | translate}}</span>
  <select [(ngModel)]="selectedCategory" name="selectedCategory">
    <option *ngFor="let c of categories" [ngValue] = "c">{{c?.title || locale.translate('all')}}</option>
  </select>
</div>
<div class='section-content'>
  <app-product-list *ngIf="selectedProduct == null" [products] = products
  (productSelected)="onProductSelected($event)">
  </app-product-list>
  <app-product *ngIf="selectedProduct != null">
  </app-product>
</div>