<app-user-area></app-user-area>
<div>
    
    <ul>
        <li *ngFor="let p of sections">
            <a routerLink = "/{{p}}">
              {{p | translate}}
              <div class="cardCounter" *ngIf="p === 'card'">
                  <span>{{card.count}}</span>
              </div>
            </a>
        </li>
        <li>
            <select [(ngModel)]="locale.locale" name="locale.locale">
                <option *ngFor="let l of locale.localeList" [ngValue] = "l.code">{{l?.title}}</option>
            </select>
        </li>
    </ul>
    
    <div class='socialLinks'>
        <a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="http://www.gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
    </div>
</div>
